<!DOCTYPE html><html><head><title>{block name="title"}网站标题{/block}_后台管理</title><meta http-equiv="Content-Type" content="text/html;charset=UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="<?php echo http_host(); ?>/css/bootstrap.min.css"><link rel="stylesheet" href="<?php echo http_host(); ?>/css/admin.css">
<script src="<?php echo http_host(); ?>/js/jquery.min.js"></script><script src="<?php echo http_host(); ?>/js/respond.min.js"></script><script src="<?php echo http_host(); ?>/js/ad.js"></script><script src="<?php echo http_host(); ?>/js/bootstrap.min.js"></script></head><body>
{block name="content"}网站内容{/block}
</body></html>