<dl class="lnav">
<dt>常用操作</dt>
<dd><a href="<?php echo CMS_ADMIN; ?>Category"><span class="glyphicon glyphicon-th-list"></span> 网站栏目管理</a></dd>
<dd><a href="<?php echo CMS_ADMIN; ?>Article"><span class="glyphicon glyphicon-pencil"></span> 文章列表</a></dd>
<dd><a href="<?php echo CMS_ADMIN; ?>Article?ischeck=1"><span class="glyphicon glyphicon-floppy-remove"></span> 未审核的文章</a></dd>
<dd><a href="<?php echo CMS_ADMIN; ?>Article/add"><span class="glyphicon glyphicon-file"></span> 发布文章</a></dd>
<dd><a href="<?php echo CMS_ADMIN; ?>Page"><span class="glyphicon glyphicon-equalizer"></span> 单页文档管理</a></dd>
<!-- <dt>商品管理</dt>
<dd><a href="<?php echo CMS_ADMIN; ?>Product"><span class="glyphicon glyphicon-pencil"></span> 商品列表</a></dd>
<dd><a href="<?php echo CMS_ADMIN; ?>Product/add"><span class="glyphicon glyphicon-file"></span> 添加商品</a></dd>
<dd><a href="<?php echo CMS_ADMIN; ?>ProductType"><span class="glyphicon glyphicon-th-list"></span> 商品分类</a></dd> -->
<dt>批量维护</dt>
<dd><a href="<?php echo CMS_ADMIN; ?>Tag"><span class="glyphicon glyphicon-tag"></span> TAG标签管理</a></dd>
<!-- <dd><a href="<?php echo CMS_ADMIN; ?>Search"><span class="glyphicon glyphicon-tint"></span> 关键词管理</a></dd> -->
<dd><a href="<?php echo CMS_ADMIN; ?>Keyword"><span class="glyphicon glyphicon-fire"></span> 內链关键词维护</a></dd>
<dd><a href="<?php echo CMS_ADMIN; ?>Friendlink"><span class="glyphicon glyphicon-magnet"></span> 友情链接</a></dd>
<dd><a href="<?php echo CMS_ADMIN; ?>Slide"><span class="glyphicon glyphicon-leaf"></span> 轮播图</a></dd>
<dd><a href="<?php echo CMS_ADMIN; ?>User"><span class="glyphicon glyphicon-user"></span> 用户管理</a></dd>
<dd><a href="<?php echo CMS_ADMIN; ?>Article/repetarc"><span class="glyphicon glyphicon-cog"></span> 重复文档检测</a></dd>
<dt>系统设置</dt>
<dd><a href="<?php echo CMS_ADMIN; ?>Sysconfig"><span class="glyphicon glyphicon-wrench"></span> 系统基本参数</a></dd>
<dd><a href="<?php echo CMS_ADMIN; ?>Guestbook"><span class="glyphicon glyphicon-send"></span> 在线留言</a></dd>
</dl>