{extend name="public/base" /}
{block name="title"}企业添加{/block}

{block name="content"}
<script language="javascript" type="text/javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
<h5 class="sub-header"><a href="{:url('index')}">企业列表</a> > 企业添加</h5>

<form id="addarc" method="post" action="" role="form" enctype="multipart/form-data" class="table-responsive">
<table class="table table-striped table-bordered">
<tbody>
    <tr>
        <td align="right">手机号：</td>
        <td><input name="mobile" type="text" id="mobile" value="" class="required" style="width:60%" placeholder="在此输入手机号"></td>
    </tr>
	<tr>
        <td align="right">企业类型：</td>
        <td>
			<input type="radio" value='0' name="type" checked />&nbsp;个人&nbsp;&nbsp;
			<input type="radio" value='1' name="type" />&nbsp;公司
		</td>
    </tr>
    <tr>
        <td align="right">年费：</td>
        <td colspan="2"><input name="annual_fee" type="text" id="annual_fee" style="width:100px" value=""></td>
    </tr>
    <tr>
        <td align="right">过期时间：</td>
        <td colspan="2"><input name="expire_time" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" type="text" id="expire_time" style="width:185px" value=""></td>
    </tr>
    <tr>
        <td colspan="2"><button type="submit" class="btn btn-success" value="Submit">保存(Submit)</button>&nbsp;&nbsp;<button type="reset" class="btn btn-default" value="Reset">重置(Reset)</button><input type="hidden"></input></td>
    </tr>
</tbody></table></form><!-- 表单结束 -->

<script>
$(function(){
    $(".required").blur(function(){
        var $parent = $(this).parent();
        $parent.find(".formtips").remove();
        if(this.value=="")
        {
            $parent.append(' <small class="formtips onError"><font color="red">不能为空！</font></small>');
        }
        else
        {
            
        }
    });

    //重置
    $('#addarc input[type="reset"]').click(function(){
            $(".formtips").remove(); 
    });

    $("#addarc").submit(function(){
        $(".required").trigger('blur');
        var numError = $('#addarc .onError').length;
        
        if(numError){return false;}
        
        //$("#contents").val = ue.getContent();
        //var datas = $('#addarc').serialize();//#form要在form里面
        
        //var content = ue.getContent();
        
        /*$.ajax({
            url: "/fladmin/Article/doadd",
            type: "POST",
            dataType: "json",
            cache: false,
            data: {
                "typeid":$("#typeid").val(),
                "tuijian":$("#tuijian").val(),
                "click":$("#click").val(),
                "writer":$("#writer").val(),
                "source":$("#source").val(),
                "litpic":$("#litpic").val(),
                "title":$("#title").val(),
                "seotitle":$("#seotitle").val(),
                "keywords":$("#keywords").val(),
                "description":$("#description").val(),
                "content":content
                //"title":title.replace("'", "&#039;"),
                //"seotitle":seotitle.replace("'", "&#039;"),
                //"keywords":keywords.replace("'", "&#039;"),
                //"description":description.replace("'", "&#039;"),
                //"contents":content.replace("'", "&#039;")
            },
            success: function(data){
                if(data.code==200)
                {
                    //alert(data.info);
                    window.location.replace("/fladmin/Article");
                }
            }
        }); */
    });
});
</script>
{/block}