<div class="flool tpnavf cl">
    <div class="nav_list">
        <ul>
        <a href="<?php echo 'weixin'; ?>"><li><img src="<?php echo sysconfig('CMS_BASEHOST'); ?>/images/weixin/home_icon.png"><p>首页</p></li></a>
        <a href="<?php echo 'weixin_category_goods_list'; ?>"><li><img src="<?php echo sysconfig('CMS_BASEHOST'); ?>/images/weixin/brand_icon.png"><p>分类</p></li></a>	
        <a href="<?php echo 'weixin_cart'; ?>"><li><img src="<?php echo sysconfig('CMS_BASEHOST'); ?>/images/weixin/car_icon.png"><p>购物车</p></li></a>	
        <a href="<?php echo 'weixin_user'; ?>"><li><img src="<?php echo sysconfig('CMS_BASEHOST'); ?>/images/weixin/center_icon.png"><p>个人中心</p></li></a></ul>
        <div class="cl"></div>
    </div>
</div>